@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply container mx-auto max-w-7xl px-6;
}
.parallelogram-clip-path {
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  background-color: rgb(196 181 253);
  z-index: 1;
}

 .ql-toolbar {
 @apply  rounded-t-md bg-gray-50

}
.ql-container {

  @apply rounded-b-md 
}
